@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;700&display=swap');

body{
    font-family: 'Red Hat Display', sans-serif;
    /* to centre the card element */
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(./images/pattern-background-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #e0e8ff; /* to fill the remaining blank background */

}

.card{
    font-family: 'Red Hat Display', sans-serif;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: #7280a77c 3px 8px 20px;
    width: 300px;
    text-align: center;
}

.hero{
    width: 300px;
    border-radius: 15px 15px 0 0;
}

.content{
    padding: 30px;
}

.content h1{
    margin: 0 0 10px 0;
    color: #1F2F56;
    font-size: 20px;
    font-weight: 900;
}

.content p{
    color: #7280A7;
    font-size: 12px;
}

.content a{
    font-size: 12px;
    text-decoration: none;
    color: #7280A7;
    font-weight: 700;
}

.content a:hover{
    cursor: pointer;
    color: #1F2F56;
}

.simple_grid{
    background-color: #F6F8FE;
    display: grid;
    grid-template-columns: auto auto 3fr;
    align-items: center; /* to vertically center text in the grid */
    padding: 15px;
    column-gap: 10px;
    border-radius: 10px;
    margin: 20px 0  0;
    font-size: 14px;
    color: #1F2F56;
}

.simple_grid h2, p{
    margin: 0;
}

.simple_grid h2{
    font-weight: 900;
    font-size: 12px;
}

.simple_grid img{
    width: 32px;
}

.simple_grid a{
    text-decoration: underline;
    font-weight: 700;
    font-size: 12px;
    margin-left: 40px;
    color: #3829E0;
}

.simple_grid a:hover{
    color: #766cf1;
    cursor: pointer;
}

button{
    font-family: 'Red Hat Display', sans-serif;
    color: #fff;
    font-weight: 700;
    width: 100%;
    font-size: 11px;
    background-color: #3829E0;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    margin: 20px 0 10px 0;
    box-shadow: #3829e060 2px 6px 20px;
}

button:hover{
    background-color: #766cf1;
    cursor: pointer;
}

.attribution{
    font-size: 10px;
    margin: 20px 0 0 0;
    color: #000;
    text-align: center;
    font-family: 'DM Sans', sans-serif;
}

.attribution a{
    color: #3829E0;
    text-decoration: none;
}

.attribution a:hover{
    color: #000;
}